<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page3</title>
</head>
<body>
<table border="1">
   <caption>Таблица из access</caption>
   <tr>
    <th>N</th>
    <th>МНН</th>
    <th>ТН</th>
    <th>ЖНВЛП</th>
   </tr>
    <tr align="center"><td colspan="4" bgcolor="#006600" style="font-size:14pt">ЛС в перечне ЖНВЛП</td></tr>

{% for each in db_v %}
    {% for key, value in each.items %}
   <tr>
       <td>{{ each.id }}</td>
       <td>{{ key }}</td>
       <td>{{ value }}</td>
       <td>V</td>
   {% endfor %}
   </tr>
    {% endfor %}
 <tr align="center"><td colspan="4" bgcolor="#006600" font_size="20">Остальные ЛС</td></tr>

    <tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
 <tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
 <tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>




    {% for each in context %}
   <tr>
       <td>{{ each.id }}</td>

   </tr>
    {% endfor %}



</table>

</body>
</html>