<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page3</title>
</head>
<body>
<table border="1" style="font-size:6pt">
   <caption>Таблица из access</caption>
   <tr>
    <th>N</th>
    <th>МНН</th>
    <th>ТН</th>
    <th>ЖНВЛП</th>
   </tr>
    <tr align="center"><td colspan="4" bgcolor="yellow">ЛС в перечне ЖНВЛП</td></tr>

{% for each in db_v %}
   <tr>
       <td>{{ each.id }}</td>
       <td>{{ each.MNN }}</td>
       {% autoescape false %}
       <td>{{ each.TN }}</td>
       {% endautoescape %}
       <td>V</td>
   </tr>
{% endfor %}

    <tr align="center"><td colspan="4" bgcolor="#006600">Остальные ЛС</td></tr>
{% for each in db_n %}
   <tr>
       <td>{{ each.id }}</td>
       <td>{{ each.MNN }}</td>
       {% autoescape false %}
       <td>{{ each.TN }}</td>
       {% endautoescape %}
       <td>N</td>
   </tr>
{% endfor %}

</table>

</body>
</html>